<div class="m-4">
    <h3>Update Courese</h3>
        <form method="POST" action="/courses/{{course._id}}?_method=PUT">
            <div class="form-group">
                <label for="name">Tên khóa học</label>
                <textarea class="form-control" id="name" name="name">{{course.name}}</textarea>
            </div>
            <div class="form-group">
                <label for="name">Mô tả</label>
                <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="name">Video ID</label>
                <textarea class="form-control" id="videoId" name="videoId">{{course.videoId}}</textarea>
            </div>
            <div class="form-group">
                <label for="name">Trình độ</label>
                <textarea class="form-control" id="level" name="level">{{course.level}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">SAVE</button>
        </form>
</div>

{{!-- 
"Vô Thường" ế lâu năm đến "Mặc Cảm"
cho tới khi "Yêu Đơn Phương"
một "Người Lạ Ơi" tôi đã từng "Thương"
cô ấy rất nhiều xem cô ấy "Từng Là Tất Cả"
và rồi cô ấy bỏ đi để tôi "Khóc Một Mình" 
cho tới "Cạn Cả Nước Mắt" vì 
"Đau Vậy Đủ Rồi" mình hãy 
"Ngừng Khóc Cho Nhau" và 
giờ "Tôi Là Người Cô Đơn" vì "Lần Cuối"
mình "Chưa Từng Vì Nhau".
Cuối cùng "Tốt hơn đừng về"!   

--}}